.container {
    position: relative;
    padding: 0;
    margin: 0;
    height: 450px;
}

img.banner {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


img.logo {
    position: absolute;
    top:30;
    left: 30;
    width: 20%;
}

.content{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content p {
    width: 60%;
    font-size: 34px;
    color: #FFD15B;
    font-weight: 400;
    font-family: var(--font-anton);
    text-align: center;
    padding: 16px 8px 16px 8px;
    letter-spacing: 0;
}


.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search input {
    width: 80%;
    height: 70px;
    border-radius: 10px;
    border: none;
    padding: 0px 70px 0px 24px;
    font-size: 16px;
}


.search img {
    margin-left: -60px;
}

