.container {
  position: relative;
  padding: 0;
  margin: 0;
  height: 90px;
}

img.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img.logo {
  position: absolute;
  top: 30;
  left: 30;
  width: 20%;
}
