.container {
    position: relative;
    padding: 60px;
    margin: 0;
    height: 100px;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.container > select
{
    margin-right: 50px;
    width: 150px;
    height: 45px;
    background-color: white;
    border: none;
    border-radius: 11px;
    padding: 0px 16px 0px 16px;
    font-size: 14px;
    font-family: var(--font-manrope);
}

.container > span
{
    font-size: 16px;
    font-family: var(--font-anton);
    margin-left: auto;
}
