.container {
    position: relative;
    padding: 60px;
    margin: 0;
}

.content {
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.content > select
{
    margin-right: 50px;
    width: 150px;
    height: 45px;
    background-color: white;
    border: none;
    border-radius: 11px;
    padding: 0px 16px 0px 16px;
    font-size: 14px;
    font-family: var(--font-manrope);
}

.content > span
{
    font-size: 16px;
    font-family: var(--font-anton);
    margin-left: auto;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.tags > span{
    position: relative;
    font-size: 14px;
    background-color: #FFD15B;
    padding: 8px 26px 8px 6px;
    border-radius: 6px;
}

.cross {
  position: absolute;
  top:calc(50% - 5px);
  right: 10px;
  background-image: url("/cross.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
