.container {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top: 30px;
}

.container img {
    width: 360px;
    height: auto;
    margin: 0px 30px 0px 30px;
    border-radius: 15px;
}

.content {
  padding: 0px 16px 42px 16px;
  font-weight: 400;
  font-size: 14px;
  font-family: var(--font-manrope);
}

.content h2 {
  color: #333;
  font-size: 18px;
  font-family: var(--font-anton);
}

.content h3 {
  color: #333;
  font-size: 12px;
  font-family: var(--font-manrope);
  color: #7A7A7A;
  margin-bottom: 16px;
  margin-top: 30px;
}

.badge {
  background-color: #FFD15B;
  border-radius: 12px;
  padding: 4px 8px 4px 8px;
  width: 63px;
  text-align: center;
  font-size: 12px;
  font-family: var(--font-manrope);
}

.ingredients{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}

.ingredient{
  font-weight: 500;
  font-size: 14px;
}

.quantite{
  font-weight: 400;
  font-size: 14px;
}

.content ul {
  padding-left: 20px;
}