.card {
  position: relative;
  border: none;
  border-radius: 21px;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.04);
  background-color: white;
  overflow: hidden;
}

img.banner {
    width: 100%;
    height: 253px;
    object-fit: cover;
}

.content {
  padding: 0px 16px 42px 16px;
  font-weight: 400;
  font-size: 14px;
  font-family: var(--font-manrope);
}

.content p{
  height: 95px;
  overflow: hidden;
}

.card h2 {
  color: #333;
  font-size: 18px;
  font-family: var(--font-anton);
  margin-top: 16px;
  margin-left: 16px;
}

.card h3 {
  color: #333;
  font-size: 12px;
  font-family: var(--font-manrope);
  color: #7A7A7A;
  margin-bottom: 16px;
  margin-top: 16px;
}

.badge {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #FFD15B;
  z-index: 1000;
  border-radius: 12px;
  padding: 4px 8px 4px 8px;
  width: 63px;
  text-align: center;
  font-size: 12px;
  font-family: var(--font-manrope);
}

.ingredients{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
}

.ingredient{
  font-weight: 500;
  font-size: 14px;
}

.quantite{
  font-weight: 400;
  font-size: 14px;
}